$fontColor: rgb(76, 85, 102);

* {
  margin: 0;
  padding: 0;
}

body {
  color: $fontColor;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  margin: 8px;
}

svg {
  font-size: 14px;
}

.mindmap {
  background-color: rgb(238, 238, 243);
  flex: auto;
  height: 650px;
  margin-right: 8px;

  rect {
    fill: blue;
    fill-opacity: 0;
    stroke: blue;
    stroke-opacity: 0;
    stroke-width: 2;
  }

  path {
    fill: none;
    stroke-linecap: round;
    stroke-width: 4;
  }

  #selectedMindnode > rect {
    fill-opacity: 0.2;
  }

  #newParentNode > rect {
    stroke-opacity: 0.2;
  }
}

.outline {
  height: 650px;
  margin-right: 8px;
  width: 200px;

  rect {
    fill: rgb(238, 238, 243);
  }

  .outpath {
    transform: translate(14px, 15px);

    path {
      fill: none;
      stroke-linecap: round;
      stroke-width: 1.5;
    }
  }

  #selectedOutnode > rect {
    fill: rgb(204, 211, 253);
  }
}

.tip {
  background-color: rgb(238, 238, 243);
  height: 120px;
  width: 200px;

  text {
    fill: $fontColor;
  }

  #hidden {
    visibility: hidden;
  }
}
/* stylelint-disable-next-line */
foreignObject {
  padding: 5px;
}
