svg {
  display: inline-block;
}
g {
  cursor: default;
}
#mindnode rect {
  stroke: blue;
  fill: blue;
  stroke-width: 2;
  fill-opacity: 0;
  stroke-opacity: 0;
}
#mindnode path {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5;
  stroke-linecap: round;
}
#selectedMindnode > rect {
  fill-opacity: 0.2;
}
#newParentNode > rect {
  stroke-opacity: 0.2;
}
#outline path {
  fill: none;
  stroke-linecap: round;
  stroke-width: 1.5;
  stroke: #555;
}
#selectedOutnode > rect {
  fill: rgb(204, 211, 253);
}
.outnode > rect {
  fill: rgb(239, 239, 239);
}
foreignObject {
  padding: 5px;
}
foreignObject p {
  margin: 0;
}
#hidden {
  visibility: hidden;
}
