#pop-up-layer {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#pop-up-layer div {
  cursor: pointer;
  padding: 50px;
  margin: 130px;
  border-radius: 50%; 
  background-color: aliceblue; 
  box-shadow: aliceblue 65px -15px 0 -5px,aliceblue 25px -25px, aliceblue 30px 10px,aliceblue 60px 15px 0 -10px,aliceblue 85px 5px 0 -5px; 
}